html {
    height: 100%;
}

body {
    background-color: #4682B4;
    height: 100%;
    margin: 0;
}

#main {
    background-color: white;
    min-height: 100%;
    margin: auto;
}

#main > div {
    padding: 0 10px;
}

#title {
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
    font-size: 1.5em;
    font-family: Calibri, Arial, sans-serif;
    line-height: 1em;
    color: #EEEEEE;
    background-color: #124766;
}

#output {
    font-size: small;
}

#footer {
    border-top: 1px solid #4682B4;
    position: sticky;
    top: 100vh;
}

#panel {
    position: absolute;
    left: 26%;
    top: 10%;
    width: 48%;
    height: 80%;
}

.method {
    color: gray;
    font-size: large;
}

#panel table {
    display: flex;
    justify-content: center;
}

#panel td {
    padding: 10px;
}

#panel select {
    width: 120px;
}

#fetch_button_line {
    text-align: center;
}

#progress {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#progress > div {
    background-color: white;
}